/* Header */

.header {
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__list {
  display: flex;
  justify-content: space-between;
}

.header__list-item {
  margin: 10px 0;
}

.header__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}

.dropbtn::after {
  content: '\25BC';
  font-size: 8px;
  margin-left: 8px;
  vertical-align: middle;
  color: #ff5716;
}

.header__link:hover {
  color: #e4e5ea;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ff5716;
}

.show {
  display: block;
}
.dropbtn{
  border: none;
  background-color: #000000;
  color: #ffffff;
}